@page "/counter"
@using Frontend.Services.Depot
@rendermode InteractiveServer
@inject DepotService DepotService

<PageTitle>Counter</PageTitle>

@if (_depot == null) {
    <div>Loading...</div>
} else {
    <button @onclick="AddTram">Add Tram</button>
    @foreach (var tram in _depot.TrackGraph.GetRootTrack().GetTrams()) {
        <div>@tram</div>
    }
}

@code {
    private Depot? _depot = null;

    private async Task AddTram() {
        _depot = await DepotService.AddTram(new TramPositionDto(_depot!.TrackGraph.GetRootTrack().ID.ToString(), -1));
    }
    
    protected override async Task OnInitializedAsync() {
        _depot = await DepotService.GetDepot();
    }

}