@page "/"
@using Frontend.Services.Depot
@using Frontend.Services.Mission
@using MissionPlanning.Api
@using Utils
@rendermode InteractiveServer
@inject DepotService DepotService
@inject MissionPlanningService MissionPlanningService

<PageTitle>Tram System</PageTitle>

@if (_depot == null) {
    <div>Loading...</div>
} else {
    <div class="header">
        <h1 id="name">Tram System</h1>
        <div class="actions">
            <button class="action" @onclick="AddTram">Add Tram</button>
            <button class="action" @onclick="PlanMission">Add Mission</button>
        </div>
    </div>
    @foreach (var tram in _depot.TrackGraph.GetRootTrack().GetTrams()) {
        <div class="tram">
            <div class="tram-picture">
                <div class="track track1"></div>
                <div class="t"></div>
                <div class="track track2"></div>

            </div>
            <div class="info">
                <div>Tram ID:</div><div>@tram</div>
              
                <div>Assigned Mission ID: </div>
                <div> 
                      @if (_missions.ContainsKey(tram)) {
                          @_missions[tram].ID
                      } else {
                          <span>No assigned mission.</span>
                      }
                </div>
                
            </div>

        </div>
        
    }
}

@code {
    private Depot? _depot = null;
    private Dictionary<TramId, Mission> _missions = new Dictionary<TramId, Mission>();

    private async Task AddTram() {
        _depot = await DepotService.AddTram(new TramPositionDto(_depot!.TrackGraph.GetRootTrack().ID.ToString(), -1));
    }

    private async Task PlanMission() {
        Mission? plannedMission = await MissionPlanningService.PlanMission();
        if (plannedMission != null) {
            _missions.Add(plannedMission.TramID, plannedMission);
        }
    }
    
    protected override async Task OnInitializedAsync() {
        _depot = await DepotService.GetDepot();
        _missions = (await MissionPlanningService.GetMissions() ?? new List<Mission>()).ToDictionary(m => m.TramID, m => m);
    }
}