/*
The main body of CSS is for small mobile/tablet view.
 */
.header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#name {
    display: inline-block;
    padding: 1rem;
    width: fit-content;
    text-align: center;
    vertical-align: center;
}

.header > .actions {
    display: contents;
}

.action {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: rgb(37 99 235);
    color: white;
    align-self: stretch;
    border: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.action:hover {
    background-color: rgb(29 78 216);
}

.tram {
    display: grid;
    grid-template-columns: 7rem 1fr;
    border: rgb(148 163 184) 0.25rem;
}

.tram-picture {
    display: grid;
    position: relative;
    width: 7rem;
}

.track {
    position: absolute;
    width: 0.5rem;
    align-self: stretch;
    background-color: #1a1e21;
    z-index: 10;
}
.track1 {
    left: 2.75rem;
    bottom: 0;
    top: 0;
}

.track2 {
    left: 3.75rem;
    bottom: 0;
    top: 0;
}

.t {
    background-color: rgb(248 113 113);
    width: 2.5rem;
    top: 0.25rem;
    bottom: 0.25rem;
    left:2.25rem;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 11;
}

.info {
    display: grid;
    padding: 1px;
    border: 0.1rem dashed rgb(148 163 184);
    border-radius: 0.25rem;
    background-color: rgb(226 232 240);
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

/*
CSS for computer screens.
 */
@media (min-width: 1200px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    #name {
        margin: 0;
        text-decoration: none;
        line-height: 1.75rem;
        justify-self: stretch;
    }
    
    .header > .actions {
        display: flex;
        flex-direction: row-reverse;
        align-self: end;
        gap: 1rem;
    }

    .action {
        width: 9rem;
        margin: 0;
    }
}